<app-nav-bar></app-nav-bar>
<div class="container">
  <h2>Candidaturas</h2>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h4>Título</h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h4>Título</h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h4>Título</h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h4>Título</h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h4>Título</h4>
      </div>
    </div>
  </div>
</div>
