<app-nav-bar></app-nav-bar>
<div class="container">
  <h2>Minhas inscrições</h2>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h2>Design</h2>
        <p>
          Sabe fazer cartões de visita?
        </p>
        <p>
          Queremos uma pessoa que esteja disposta a fazer convites personalizados, para tornar o momento ainda mais especial. Se você é criativo e tem disponibilidade, venha nos ajudar a realizar mais um sonho.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h2>Acompanhante de idosos</h2>
        <p>
          É paciente e gosta de ouvir ?
        </p>
        <p>
          Que tal fazer companhia pra uma pessoa de idade, conversa,ouvir histórias e lhe acompanhar em seus passeios. Além de você estar ouvindo e o acompanhando, você estará fazendo uma boa ação.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="candidatura">
        <h2>Cuidador de animais</h2>
        <p>
          É apaixonado em animais
        </p>
        <p>
          Venha nos ajudar, os levando pra passear, dando banho e lhes dando muito carinho.
          Requisitos: ser paciente, alegre e o principal gostar de animais. Faça um animalzinho feliz
        </p>
      </div>
    </div>
  </div>
  <br>
</div>
