<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <label class="navbar-brand">A GENTE</label>
  <img src="../../assets/images/logo.jpeg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" *ngIf="applicationStatusService.logado">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/candidature">Candidaturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/voluntary-dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
  <div class="dropdown float-right" *ngIf="!applicationStatusService.logado">
    <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning"> ONG </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalOng">Entrar</a>
      <a class="dropdown-item" routerLink="/register-profile">Cadastro</a>
    </div>
  </div>
  <div class="dropdown float-right" *ngIf="!applicationStatusService.logado">
    <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success">VOLUNTÁRIO</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">Entrar</a>
      <a class="dropdown-item" routerLink="/register-profile">Cadastro</a>
    </div>
  </div>

  <div class="float-right">
    <label *ngIf="applicationStatusService.logado" style="margin-right: 15px;color: #f3f3f3">Paulo Guedes</label>
    <img *ngIf="applicationStatusService.logado" src="../../assets/images/user-real-male.png" alt="" style="width: 40px;
border-radius: 100px">
  </div>

<!--  Modal ONG-->
  <div id="exampleModalOng" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Email" required="required"
                       value="ongmassa@email.com">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Senha" required="required"
                       value="senha">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-lg" data-dismiss="modal" routerLink="/ong">
                Entrar
              </button>
            </div>
            <p class="hint-text"><a href="">Esqueceu a senha?</a></p>
          </form>
        </div>
        <div class="modal-footer">Não tem cadastro?<a data-dismiss="modal"
                                                      routerLink="/register-profile">Crie um</a></div>
      </div>
    </div>
  </div>

<!--  Modal VOLUNTARIO-->
  <div id="exampleModal" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Email" required="required"
                       value="voluntario@email.com">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Senha" required="required"
                       value="senha">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-lg" data-dismiss="modal" (click)="logar()">
                Entrar
              </button>
            </div>
            <p class="hint-text"><a href="">Esqueceu a senha?</a></p>
          </form>
        </div>
        <div class="modal-footer">Não tem cadastro?<a data-dismiss="modal"
                                                      routerLink="/register-profile">Crie um</a></div>
      </div>
    </div>
  </div>
</nav>

