<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="col-md-12">
    <!-- Brand -->
    <a class="navbar-brand" href="#">A GENTE</a>

    <!-- Toggler/collapsibe Button -->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <!-- Navbar links -->
    <div class="float-right">
      <a href="#" class="">
        <img src="../../assets/images/user-male.png" alt="" style="width: 60px;">
      </a>
    </div>
  </div>
</nav>
<br>
