<app-nav-bar></app-nav-bar>
<div class="container">
  <h2>Dashboard</h2>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h1>Concluídos</h1>
      <div class="quadVerde text-center">
        <br>
        <h1><b>4</b></h1>
      </div>
    </div>
    <div class="col-md-6">
      <h1>Em Análise</h1>
      <div class="quadAmarelo text-center">
        <br>
        <h1><b>3</b></h1>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead style="background-color: #363636; color: white;">
          <th>ONG</th>
          <th>Descrição</th>
          <th>Data de Início</th>
          <th>Horas de Experiência</th>
        </thead>
        <tbody>
          <tr>
            <td>ONG MULHERES MIL</td>
            <td>Acompanhamento de mulheres no traçado ate a delegaçia</td>
            <td>08/06/2019</td>
            <td>14 Hrs</td>
          </tr>
          <tr>
            <td>ONG MAIS PETS</td>
            <td>Cuidar do animais</td>
            <td>01/07/2018</td>
            <td>15 Hrs</td>
          </tr>
          <tr>
            <td>SOPÃO COMUNITARIO</td>
            <td>Ajuda na prepraração do sopão</td>
            <td>15/01/2018</td>
            <td>16 Hrs</td>
          </tr>
          <tr>
            <td>CRUZ VERMELHA</td>
            <td>Assitencia na aplicação de vacinas</td>
            <td>08/06/2019</td>
            <td>14 Hrs</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
