<app-nav-bar></app-nav-bar>
<h2>Dados do Serviço</h2>
<form id="formulario">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Nome</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Nome">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Tipo de Serviço</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Tipo de Serviço">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Descrição</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Descrição">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Estado</label>
        <select id="inputState" class="form-control">
          <option selected>Goiás</option>
          <option>Estado</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">CEP</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
  </form>

  <br>
  <br>
  <h2>Voluntários Cadastrados</h2>
  <br>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead style="background-color: #363636; color: white;">
            <th>Serviço</th>
            <th>Nome do Voluntário</th>
            <th>Tem Experiêncica?</th>
            <th>Horas de Experiência</th>
          </thead>
          <tbody>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Sim</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Não</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Não</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Não</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Sim</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Sim</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Sim</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Não</td>
              <td>14 Hrs</td>
            </tr>
            <tr>
              <td>ONG MULHERES MIL</td>
              <td>Acompanhamento de mulheres no traçado ate a delecacia</td>
              <td>Não</td>
              <td>14 Hrs</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>