<!--<app-voluntary-menu></app-voluntary-menu>-->
<app-nav-bar></app-nav-bar>
<div class="container">
  <h2>Baseadas em você</h2>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
  </div>
  <br>
  <h2>Outras Oportunidades</h2>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
    <div class="col-md-3">
      <div class="vaga">
      </div>
    </div>
  </div>
</div>

