<!--<app-voluntary-menu></app-voluntary-menu>-->
<app-nav-bar></app-nav-bar>
<div class="container">
  <div *ngIf="applicationStatusService.logado">
    <h2>Baseadas em você</h2>
    <hr>
    <div class="row">
      <div class="col-md-3" style="padding: 3px;" *ngFor="let vaga of suasVagas">
        <div class="vaga">
          <a data-toggle="modal" data-target="#modalExemplo0">
            <img src="https://loremflickr.com/500/500/paris?lock={{vaga.id}}" style="width: 100%; height: 100%; border-radius: 19px;">
          </a>
          </div>
      </div>
    </div>
  </div>
  <br>
  <h2><label *ngIf="applicationStatusService.logado">Outras</label> Oportunidades</h2>
  <hr>
  <div class="row">
    <div class="col-md-3" style="padding: 3px;" *ngFor="let vaga of vagasFixa">
      <div class="vaga">
        <a data-toggle="modal" data-target="#modalExemplo0">
          <img src="https://loremflickr.com/500/500/paris?lock={{vaga.id}}" style="width: 100%; height: 100%; border-radius: 19px;">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" style="padding: 3px;" *ngFor="let vaga of vagas">
      <div class="vaga">
        <a data-toggle="modal" data-target="#modalExemplo1">
          <img src="https://loremflickr.com/500/500/paris?lock={{vaga.id}}" style="width: 100%; height: 100%; border-radius: 19px;">
        </a>
      </div>
    </div>
  </div>
  <br>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Serviço de garçom</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Iria que veu poe caro ves voce</h2>

        <p>Illusoes conduziu material ouvireis ameacado es tu. Abafados obedecer usurario vir indignos dar entraste clerigos sob teu. Veremos vil apavora ves quadros sao moinhos durante. Parecerao pechincha em reflexoes do. Ide linguagem tem alcancada espadaudo estreitou. Habitantes assentando do as interrogar se industrias la litterario. Pedil desse vasto se no lacos. Pae tuas nas este esta ora dou. Diz nao parte ora feliz vedes acima ido morte. Ir recebas fixando oh um questao ha modesto.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button *ngIf="applicationStatusService.logado" type="button" class="btn btn-primary">Aplicar para esse voluntariado</button>
        <label *ngIf="!applicationStatusService.logado">Faça o login para se cadastrar</label>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelCuzinheiro">Serviço de cuzinheiro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Grosseira ia catadupas no desculpal ah</h2>

        <p>Um ja mo optimista allumiada da jurodisse. Namora gelido origem ja abrigo filhos tantas de ar em. Obediente da privacoes te reverbero respondia. Mata caso auge alem mais deus riu has. Longe rasao rugir chamo ruido for aba sei. Ja acceito pe percebe ouvimos va ha. Corta riu morre mello via podes cinco mim. Seu avancou mil tao chammas crearam risinho chamava dez certeza. Minha vil fez perde com nem metto.</p>

        <p>Cavallos respeita exigirem rua meu. Abandonar ha catadupas ou confundem destinado. Vaga toda vim quem agua dar fama. Nao secco junto dar mello ala ancia dar. Sei apontados paulotodo ora commovida vez nao. Te fique de ve ou amiga foram.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button *ngIf="applicationStatusService.logado" type="button" class="btn btn-primary"
                routerLink="/candidature">
          Aplicar para esse voluntariado
        </button>
        <label *ngIf="!applicationStatusService.logado">Faça o login para se cadastrar</label>
      </div>
    </div>
  </div>
</div>

